
// colors

$white: #fff;
$primary-color: #2b79bf;

$btn-primary-color: #3a8ab8;
$btn-secondary-color: #5db347;

$header-info-bg-color: #faf3c0;

$card-bg-color: #ebecf0;
$list-bg-color: white;

$cp-color: #2b79bf;
$fault-color: #eb5946;

// fonts
$primary-font-size: 14px;
$font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif';
$font-color: #172b4d;
