@import './variables';
@import './root';
@import './btn';
@import './../components/navHeader/header';
@import './../components/storyBoard/storyBoard';
@import './../components/taskList/taskList';
@import './../components//singleTast/singleTask';
@import './../components/modal/modal';
@import './../components/viewTask/viewTask';
@import './../components/addTask/addTask';
@import './../components/searchTask/searchTask';


[data-hj-suppress] {
  background-image: none !important;
  content-visibility: hidden !important;
  visibility: hidden !important;
}
